* {
    margin: 10px;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #0f172a;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #020617;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #38bdf8;
}

.logo span {
    color: #ffffff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #e4e3e4;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(56,189,248,0.4);
}


.hero p {
max-width: 500px;
font-size: 16px;
color: #ffffff;

}
.hero h2 {
    color: #ffffff;
}
.games h3 {
    color: #38bdf8;
}


.games {
padding: 40px;
}


.games h3 {
font-size: 26px;
margin-bottom: 20px;
}


.grid {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
gap: 20px;
}


.card {
background: #141a2a;
border-radius: 16px;
overflow: hidden;
box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
transition: transform 0.3s;
}


.card:hover {
transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(56,189,248,0.4);
}


.card img {
width: 100%;
height: 160px;
object-fit: cover;
}


.card .content {
padding: 15px;
}


.card h4 {
font-size: 18px;
margin-bottom: 8px;
color: azure;
}


.card p {
font-size: 13px;
opacity: 0.85;
margin-bottom: 12px;
color: aliceblue;
}


 button {
    margin: 0 15px 20px;
    padding: 10px;
    width: calc(100% - 30px);
    border: none;
    border-radius: 8px;
    background: hsl(223, 71%, 45%);
    color: #020617;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(56,189,248,0.4);
}


footer {
text-align: center;
padding: 20px;
background: #020617;
color: #38bdf8;
font-size: 13px;
opacity: 0.7;
}
h1 span {
    color: #ffffff;
}

.platforms-section {
    padding: 40px;
    background: #0f172a;
}

.platforms-container {
    display: grid;
    grid-template-columns: repeat( minmax(180px, 1fr));
    gap: 25px;
}

.platform-card {
    background: #020617;
    border-radius: 14px;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.6);
    transition: 0.3s ease;
}

.platform-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(56,189,248,0.4);
}

.platform-card img {
    width: 55px;
    height: 55px;
    margin-bottom: 10px;
}

.platform-card h3 {
    color: #38bdf8;
    font-size: 16px;
}
